*, *::before, *::after, {
  box sizing: border-box;
}

body {
    margin: 0%;
}

.carousel {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
}

.slide > img {
   display: block;
   width: 100px;
   height: 100px;
   object-fit: cover;
   object-position: center;
}


.slide[data active] {
    opacity: 1;
}
